/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/

button,
.button {
	display: inline-block;
	margin: .25em .25em .25em 0;
	padding: .5em 1em;
	cursor: pointer;
	border: 2px solid var(--DarkGrey);
	background-color: var(--DarkGrey);
	font-family: var(--BodyFont);
	text-decoration: none;
	text-align: center;
	color: var(--White);
	outline: none;
	transition: all .35s linear;
	&:hover,
	&:focus,
	&.is-hover {
		border-color: color( var(--DarkGrey) shade(10%));
		background-color: color( var(--DarkGrey) shade(10%));
	}
	&:active,
	&.is-active {
		border-color: color( var(--DarkGrey) shade(20%));
		background-color: color( var(--DarkGrey) shade(20%));
	}
}

/*----------------------------------------------------------------*\
		ICON MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.has-icon {
		& img,
		& svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-top;
			height: 1.5em;
			width: 1.5em;
			margin-left: .25em;
			stroke: #f8f8ff;
			fill: transparent;
			/* make icon align just right */
			position: relative;
			top: -1px;
		}
	}
}

/*----------------------------------------------------------------*\
		COLOR MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-transparent {
		border-color: color( var(--Black) alpha(20%));
		background-color: color( var(--Black) alpha(20%));
		background-clip: padding-box;
		&:hover,
		&:focus,
		&.is-hover {
			border-color: color( var(--Black) alpha(50%));
			background-color: color( var(--Black) alpha(50%));
		}
		&:active,
		&.is-active {
			border-color: color( var(--Black) alpha(80%));
			background-color: color( var(--Black) alpha(80%));
		}
	}
	&.is-primary {
		border-color: var(--Primary);
		background-color: var(--Primary);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: color( var(--Primary) shade(10%));
			background-color: color( var(--Primary) shade(10%));
		}
		&:active,
		&.is-active {
			border-color: color( var(--Primary) shade(20%));
			background-color: color( var(--Primary) shade(20%));
		}
	}
	&.is-secondary {
		border-color: var(--Secondary);
		background-color: var(--Secondary);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: color( var(--Secondary) shade(10%));
			background-color: color( var(--Secondary) shade(10%));
		}
		&:active,
		&.is-active {
			border-color: color( var(--Secondary) shade(20%));
			background-color: color( var(--Secondary) shade(20%));
		}
	}
	&.is-tertiary {
		border-color: var(--Tertiary);
		background-color: var(--Tertiary);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: color( var(--Tertiary) shade(10%));
			background-color: color( var(--Tertiary) shade(10%));
		}
		&:active,
		&.is-active {
			border-color: color( var(--Tertiary) shade(20%));
			background-color: color( var(--Tertiary) shade(20%));
		}
	}
	&.is-negative {
		border-color: var(--Negative);
		background-color: var(--Negative);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: color( var(--Negative) shade(10%));
			background-color: color( var(--Negative) shade(10%));
		}
		&:active,
		&.is-active {
			border-color: color( var(--Negative) shade(20%));
			background-color: color( var(--Negative) shade(20%));
		}
	}
	&.is-warning {
		border-color: var(--Warning);
		background-color: var(--Warning);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: color( var(--Warning) shade(10%));
			background-color: color( var(--Warning) shade(10%));
		}
		&:active,
		&.is-active {
			border-color: color( var(--Warning) shade(20%));
			background-color: color( var(--Warning) shade(20%));
		}
	}
	&.is-positive {
		border-color: var(--Positive);
		background-color: var(--Positive);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: color( var(--Positive) shade(10%));
			background-color: color( var(--Positive) shade(10%));
		}
		&:active,
		&.is-active {
			border-color: color( var(--Positive) shade(20%));
			background-color: color( var(--Positive) shade(20%));
		}
	}
	/* add additional colors by adding variables first */
}

/*----------------------------------------------------------------*\
		SIZE MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-small {
		font-size: .875em;
		padding: .35em .875em;
	}
	&.is-massive {
		font-size: 1.25em;
		padding: .75em 1.35em;
	}
}

/*----------------------------------------------------------------*\
		FLUID MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-fluid {
		width: 100%;
		margin: 0;
	}
}

/*----------------------------------------------------------------*\
		GHOST MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-ghost {
		background-color: transparent;
		color: var(--DarkGrey);
		&:hover,
		&:focus,
		&.is-hover {
			color: var(--White);
			border-color: color( var(--DarkGrey) shade(10%));
			background-color: color( var(--DarkGrey) shade(10%));
		}
		&:active,
		&.is-active {
			color: var(--White);
			border-color: color( var(--DarkGrey) shade(20%));
			background-color: color( var(--DarkGrey) shade(20%));
		}
		&.is-primary {
			background-color: transparent;
			color: var(--Primary);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: color( var(--Primary) shade(10%));
				background-color: color( var(--Primary) shade(10%));
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: color( var(--Primary) shade(20%));
				background-color: color( var(--Primary) shade(20%));
			}
		}
		&.is-secondary {
			background-color: transparent;
			color: var(--Secondary);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: color( var(--Secondary) shade(10%));
				background-color: color( var(--Secondary) shade(10%));
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: color( var(--Secondary) shade(20%));
				background-color: color( var(--Secondary) shade(20%));
			}
		}
		&.is-tertiary {
			background-color: transparent;
			color: var(--Tertiary);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: color( var(--Tertiary) shade(10%));
				background-color: color( var(--Tertiary) shade(10%));
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: color( var(--Tertiary) shade(20%));
				background-color: color( var(--Tertiary) shade(20%));
			}
		}
		&.is-negative {
			background-color: transparent;
			color: var(--Negative);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: color( var(--Negative) shade(10%));
				background-color: color( var(--Negative) shade(10%));
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: color( var(--Negative) shade(20%));
				background-color: color( var(--Negative) shade(20%));
			}
		}
		&.is-warning {
			background-color: transparent;
			color: var(--Warning);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: color( var(--Warning) shade(10%));
				background-color: color( var(--Warning) shade(10%));
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: color( var(--Warning) shade(20%));
				background-color: color( var(--Warning) shade(20%));
			}
		}
		&.is-positive {
			background-color: transparent;
			color: var(--Positive);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: color( var(--Positive) shade(10%));
				background-color: color( var(--Positive) shade(10%));
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: color( var(--Positive) shade(20%));
				background-color: color( var(--Positive) shade(20%));
			}
		}
	}
}

/*----------------------------------------------------------------*\
		BORDERLESS MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-borderless {
		background-color: transparent;
		border-color: transparent;
		color: var(--DarkGrey);
		&:hover,
		&:focus,
		&.is-hover {
			background-color: transparent;
			border-color: transparent;
			color: color( var(--DarkGrey) shade(10%));
		}
		&:active,
		&.is-active {
			background-color: transparent;
			border-color: transparent;
			color: color( var(--DarkGrey) shade(20%));
		}
		&:first-of-type {
			padding-left: 0;
		}
		&.is-primary {
			background-color: transparent;
			border-color: transparent;
			color: var(--Primary);
			&:hover,
			&:focus,
			&.is-hover {
				background-color: transparent;
				border-color: transparent;
				color: color( var(--Primary) shade(10%));
			}
			&:active,
			&.is-active {
				background-color: transparent;
				border-color: transparent;
				color: color( var(--Primary) shade(20%));
			}
		}
		&.is-secondary {
			background-color: transparent;
			border-color: transparent;
			color: var(--Secondary);
			&:hover,
			&:focus,
			&.is-hover {
				background-color: transparent;
				border-color: transparent;
				color: color( var(--Secondary) shade(10%));
			}
			&:active,
			&.is-active {
				background-color: transparent;
				border-color: transparent;
				color: color( var(--Secondary) shade(20%));
			}
		}
		&.is-tertiary {
			background-color: transparent;
			border-color: transparent;
			color: var(--Tertiary);
			&:hover,
			&:focus,
			&.is-hover {
				background-color: transparent;
				border-color: transparent;
				color: color( var(--Tertiary) shade(10%));
			}
			&:active,
			&.is-active {
				background-color: transparent;
				border-color: transparent;
				color: color( var(--Tertiary) shade(20%));
			}
		}
		&.is-negative {
			background-color: transparent;
			border-color: transparent;
			color: var(--Negative);
			&:hover,
			&:focus,
			&.is-hover {
				background-color: transparent;
				border-color: transparent;
				color: color( var(--Negative) shade(10%));
			}
			&:active,
			&.is-active {
				background-color: transparent;
				border-color: transparent;
				color: color( var(--Negative) shade(20%));
			}
		}
		&.is-warning {
			background-color: transparent;
			border-color: transparent;
			color: var(--Warning);
			&:hover,
			&:focus,
			&.is-hover {
				background-color: transparent;
				border-color: transparent;
				color: color( var(--Warning) shade(10%));
			}
			&:active,
			&.is-active {
				background-color: transparent;
				border-color: transparent;
				color: color( var(--Warning) shade(20%));
			}
		}
		&.is-positive {
			background-color: transparent;
			border-color: transparent;
			color: var(--Positive);
			&:hover,
			&:focus,
			&.is-hover {
				background-color: transparent;
				border-color: transparent;
				color: color( var(--Positive) shade(10%));
			}
			&:active,
			&.is-active {
				background-color: transparent;
				border-color: transparent;
				color: color( var(--Positive) shade(20%));
			}
		}
	}
}

/*----------------------------------------------------------------*\
		ICON MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-icon {
		padding: .5em;
		& img,
		& svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-top;
			height: 2em;
			width: 2em;
			stroke: #f8f8ff;
			fill: transparent;
		}
		&.is-small {
			padding: .25em;
			& img,
			& svg {
				height: 1.5em;
				width: 1.5em;
			}
		}
		&.is-massive {
			& img,
			& svg {
				height: 2.5em;
				width: 2.5em;
			}
		}
	}
}

/*----------------------------------------------------------------*\
		GROUPED BUTTONS
\*----------------------------------------------------------------*/

.buttons {
	& button,
	& .button {
		margin-top: 0;
		margin-bottom: 0;
	}
	&.are-grouped {
		display: flex;
		button,
		.button {
			margin-right: 0;
			white-space: nowrap;
			flex: 1;
			&:first-child {
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			&:last-child {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
		}
	}
}