/*----------------------------------------------------------------*\
		FORMS
\*----------------------------------------------------------------*/

form {
	max-width: var(--SmallWidth);
	width: 100%;
	margin: 0 auto;
	& button,
	& .button {
		margin: 0;
	}
	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
		&.gfield_checkbox li,
		&.gfield_radio li {
			margin: 0;
			width: auto;
		}
	}
	& li {
		display: inline-block;
		float: left;
		width: 100%;
		margin-bottom: .5em;
		line-height: 1.5;
		&.hidden_label {
			&>label {
				display: none;
			}
		}
		&.are-stacked li {
			display: is-inline;
			float: left;
		}
		&.are-stacked li {
			display: block;
			float: none;
		}
		&.half {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			@media(--768vp) {
				width: 49%;
				margin-right: 1%;
				&.last {
					margin-right: 0;
					margin-left: 1%;
				}
			}
		}
		&.third {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			@media(--768vp) {
				width: 32.33%;
				margin: 0 .5%;
				&.first {
					margin-left: 0;
					margin-right: 1%;
				}
				&.last {
					margin-right: 0;
					margin-left: 1%;
				}
			}
		}
	}
}

.validation_message {
	display: none;
}

/*---------------------------------------*\
    LABELS
\*---------------------------------------*/

label {
	display: block;
	padding: .5em 0;
	font-size: 1.25rem;
	font-family: var(--BodyFontBold);
	color: var(--DarkGrey);
}

.ginput_container label,
.charleft {
	font-size: .75rem;
	margin-bottom: .5rem;
}

/*---------------------------------------*\
    INPUTS
\*---------------------------------------*/

input {
	font-family: var(--BodyFont);
	border: 2px solid var(--DarkGrey);
	width: 100%;
	padding: .5em;
	&:focus {
		outline: none;
		border-color: color( var(--DarkGrey) shade(10%));
	}
	&.is-activated,
	&.LV_valid_field {
		border-color: var(--Positive);
	}
	&.LV_invalid_field {
		border-color: var(--Negative);
	}
}

/*---------------------------------------*\
    RADIO / CHECKBOXES
\*---------------------------------------*/

input[type="radio"] {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: 0 .25em 0 .5em;
	vertical-align: baseline;
	appearance: none;
	&:checked {
		background-color: var(--Positive);
		border-color: var(--Positive);
	}
	&+label {
		display: inline-block;
		font-size: 1rem;
		margin: 0;
	}
}

input[type="checkbox"] {
	width: 14px;
	height: 14px;
	border-radius: 4px;
	margin: 0 .25em 0 1em;
	vertical-align: baseline;
	appearance: none;
	&:checked {
		background-color: var(--Positive);
		border-color: var(--Positive);
	}
	&+label {
		display: inline-block;
		font-size: 1rem;
		margin: 0;
	}
}

/*---------------------------------------*\
    SELECT
\*---------------------------------------*/

select {
	font-family: var(--BodyFont);
	border: 2px solid var(--DarkGrey);
	padding: .5em;
	padding-right: calc(.5em + 20px);
	width: 100%;
	appearance: none;
	background-image: url(../images/select_arrow.svg);
	background-repeat: no-repeat;
	background-position: center right .5em;
	background-size: 1.25em;
	&:focus {
		outline: none;
	}
	&.is-activated,
	&.LV_valid_field {
		border-color: var(--Positive);
	}
	&.LV_invalid_field {
		border-color: var(--Negative);
	}
}

/*---------------------------------------*\
    TEXTAREA
\*---------------------------------------*/

textarea {
	font-family: var(--BodyFont);
	border: 2px solid var(--DarkGrey);
	padding: .5em;
	width: 100%;
	&:focus {
		outline: none;
	}
	&.is-activated,
	&.LV_valid_field {
		border-color: var(--Positive);
	}
	&.LV_invalid_field {
		border-color: var(--Negative);
	}
}

/*---------------------------------------*\
    NAME
\*---------------------------------------*/

.ginput_container_name {
	display: flex;
	flex-wrap: wrap;
	&>span {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		@media(--768vp) {
			width: 49%;
			margin-right: 1%;
			&.name_last {
				margin-right: 0;
				margin-left: 1%;
			}
		}
	}
}

/*---------------------------------------*\
    ADDRESS
\*---------------------------------------*/

.ginput_container_address {
	display: flex;
	flex-wrap: wrap;
	& .address_line_1,
	& .address_line_2 {
		width: 100%;
	}
	& .address_city,
	& .address_state,
	& .address_zip {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	@media(--768vp) {
		& .address_city,
		& .address_state,
		& .address_zip {
			width: 32.33%;
			margin: 0 .5%;
		}
		& .address_city {
			margin-left: 0;
			margin-right: 1%;
		}
		& .address_zip {
			margin-right: 0;
			margin-left: 1%;
		}
	}
}

/*---------------------------------------*\
    TIME
\*---------------------------------------*/

.clear-multi::after {
	content: '';
	clear: both;
	display: block;
}

.gfield_time_hour {
	width: calc(33% - .5em);
	margin-right: .5em;
	float: left;
	& i {
		display: none;
	}
}

.gfield_time_minute {
	width: calc(33% - .5em);
	margin-right: .5em;
	float: left;
}

.gfield_time_ampm {
	width: 33%;
	float: left;
}

/*---------------------------------------*\
    DATEPICKER
\*---------------------------------------*/

#ui-datepicker-div {
	background: #FFF;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	display: none;
	padding: 20px;
	width: 300px;
	& .ui-icon {
		color: transparent;
		cursor: pointer;
		font-size: 0px;
	}
	& .ui-icon:before {
		color: var(--Primary);
		font-size: 18px;
	}
	& .ui-datepicker-prev {
		float: left;
		width: 10%;
		line-height: 30px;
		& .ui-icon:before {
			content: '<';
		}
		&.ui-state-disabled {
			display: none;
		}
	}
	& .ui-datepicker-next {
		float: right;
		width: 10%;
		line-height: 30px;
		& .ui-icon:before {
			content: '>';
			float: right;
		}
		&.ui-state-disabled {
			display: none;
		}
	}
	& .ui-datepicker-title {
		display: flex;
		& select {
			width: 100%;
			padding: 2px;
			margin: 0 1px 10px 1px;
		}
	}
	& .ui-datepicker-today {
		background-color: var(--Primary);
		border-radius: 4px;
		& a {
			color: #FFF;
		}
	}
	& table {
		width: 100%;
		& td,
		& th {
			text-align: center;
		}
		& td {
			& a {
				display: block;
				padding: 5px;
			}
		}
	}
}