/*----------------------------------------------------------------*\
		NAVIGATION
\*----------------------------------------------------------------*/

nav {
	& ul {
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		& li {
			list-style: none;
			& a {
				display: block;
				padding: .5em 1em;
				text-decoration: none;
				color: var(--Primary);
				transition: all .35s linear;
				&:hover,
				&:focus {
					background-color: color( var(--Primary) shade(20%));
					color: var(--White);
				}
				&:active {
					background-color: color( var(--Primary) shade(40%));
					color: var(--White);
				}
			}
			&.current_page_item a,
			&.current-page-ancestor a {
				background-color: color( var(--Primary) shade(20%));
				color: var(--White);
			}
		}
	}
}

/*----------------------------------------------------------------*\
		HAS DROPDOWN MODIFIER
\*----------------------------------------------------------------*/

nav {
	position: relative;
	z-index: 10000;
	& ul li.menu-item-has-children {
		position: relative;
		&:hover,
		&:focus {
			ul.sub-menu {
				opacity: 1;
				top: 100%;
			}
		}
		& ul.sub-menu {
			display: block;
			position: absolute;
			width: 200%;
			max-width: 200px;
			opacity: 0;
			top: calc(100% - 10px);
			transition: all .35s linear;
			& li {
				& a {
					display: block;
					background: var(--Primary);
					color: var(--White);
					&:hover,
					&:focus {
						background-color: color( var(--Primary) shade(20%));
					}
					&:active {
						background-color: color( var(--Primary) shade(40%));
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		STACKED MODIFIER
\*----------------------------------------------------------------*/

nav.is-stacked {
	& ul {
		display: block;
		max-width: 200px;
	}
}