/*----------------------------------------------------------------*\
	STANDARD TOOLTIPS
\*----------------------------------------------------------------*/

.tooltip-parent {
	position: relative;
	&:hover,
	&:focus {
		& .tooltip.on-top {
			margin-bottom: 2em;
			opacity: 1;
		}
		& .tooltip.on-right {
			margin-left: 2em;
			opacity: 1;
		}
		& .tooltip.on-bottom {
			margin-top: 2em;
			opacity: 1;
		}
		& .tooltip.on-left {
			margin-right: 2em;
			opacity: 1;
		}
	}
}

.tooltip {
	position: absolute;
	display: none;
	padding: .35em .5em;
	border-radius: 2px;
	background-color: var(--Black);
	font-family: var(--BodyFont);
	color: var(--White);
	white-space: nowrap;
	z-index: 10;
	transition: all .25s linear;
	@media(--768vp) {
		display: block;
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		border-style: solid;
		width: 0;
		z-index: 1;
	}
}

/*----------------------------------------------------------------*\
		TOP MODIFIER
\*----------------------------------------------------------------*/

.tooltip {
	&.on-top {
		margin-bottom: 0;
		opacity: 0;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		&::after {
			border-width: 8px 8px 0;
			border-color: var(--Black) transparent;
			bottom: -7px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

/*----------------------------------------------------------------*\
		RIGHT MODIFIER
\*----------------------------------------------------------------*/

.tooltip {
	&.on-right {
		margin-left: 0;
		opacity: 0;
		left: 100%;
		top: 50%;
		transform: translateY(-50%);
		&::after {
			border-width: 8px 8px 8px 0;
			border-color: transparent var(--Black);
			left: -7px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

/*----------------------------------------------------------------*\
		BOTTOM MODIFIER
\*----------------------------------------------------------------*/

.tooltip {
	&.on-bottom {
		margin-top: 0;
		opacity: 0;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		&::after {
			border-width: 0 8px 8px;
			border-color: var(--Black) transparent;
			top: -7px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

/*----------------------------------------------------------------*\
		LEFT MODIFIER
\*----------------------------------------------------------------*/

.tooltip {
	&.on-left {
		margin-right: 0;
		opacity: 0;
		right: 100%;
		top: 50%;
		transform: translateY(-50%);
		&::after {
			border-width: 8px 0 8px 8px;
			border-color: transparent var(--Black);
			right: -7px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}