/*----------------------------------------------------------------*\
		FONTS
\*----------------------------------------------------------------*/

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans Bold';
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans ExtraBold';
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

/*----------------------------------------------------------------*\
		HEADERS
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
	font-family: var(--HeadFontBold);
}

h1 {
	font-size: responsive 28px 40px;
	font-range: 420px 1400px;
}

h2 {
	font-size: responsive 24px 32px;
	font-range: 420px 1400px;
}

h3 {
	font-size: responsive 20px 26px;
	font-range: 420px 1400px;
}

h4 {
	font-size: responsive 18px 22px;
	font-range: 420px 1400px;
}

/*----------------------------------------------------------------*\
		SUBHEADERS
\*----------------------------------------------------------------*/

h1.has-subheader,
h2.has-subheader,
h3.has-subheader,
h4.has-subheader {
	margin-bottom: 0;
	&+.subheader {
		margin: .5em 0;
		font-size: .875em;
		color: var(--DarkGrey);
		line-height: 1.3;
	}
}

/*----------------------------------------------------------------*\
		HAS ICON MODIFIER
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
	&.has-icon {
		& img,
		& svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-top;
			height: 1.5em;
			width: 1.5em;
			margin-left: .25em;
			stroke: var(--Black);
			fill: transparent;
			/* make icon align just right */
			position: relative;
			top: -1px;
		}
	}
}

/*----------------------------------------------------------------*\
		BODY
\*----------------------------------------------------------------*/

hr {
	border: 0;
	height: 2px;
	margin: .875em 0;
	background-color: var(--DarkGrey);
}

p,
span,
time,
address {
	font-family: var(--BodyFont);
	font-size: 1em;
	line-height: 1.5;
}

strong,
b {
	font-family: var(--BodyFontBold);
}

p.is-two-column {
	column-count: 2;
	column-gap: 40px;
	column-rule: 1px solid var(--DarkGrey);
}

p.is-three-column {
	column-count: 3;
	column-gap: 40px;
	column-rule: 1px solid var(--DarkGrey);
}

p.is-four-column {
	column-count: 4;
	column-gap: 40px;
	column-rule: 1px solid var(--DarkGrey);
}

/*----------------------------------------------------------------*\
		BLOCKQUOTE
\*----------------------------------------------------------------*/

blockquote {
	width: 95%;
	max-width: 800px;
	margin: 20px auto;
	padding: 1em;
	border-left: 3px solid var(--MidnightBlue);
	&>*:first-child {
		margin-top: 0;
	}
	&>*:last-child {
		margin-bottom: 0;
	}
	& p {
		color: var(--MidnightBlue);
		font-size: 1.15em;
		&:last-of-type {
			color: var(--Black);
			font-family: var(--BodyFontBold);
			font-size: 1em;
			text-transform: uppercase;
		}
	}
}

/*----------------------------------------------------------------*\
		CODE EXAMPLES
\*----------------------------------------------------------------*/

code {
	font-size: .875em;
}