/*----------------------------------------------------------------*\
		GALLERIES
\*----------------------------------------------------------------*/

.gallery {
	width: 100%;
	max-width: 1024px;
	margin: 25px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
	grid-gap: 16px;
	& img {
		width: 100%;
		height: auto;
		display: block;
	}
	@media(--515vp) {
		grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
	}
	@media(--768vp) {
		grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
	}
	&.is-masonry {
		display: block;
		& a {
			display: block;
			margin-bottom: 14px;
			width: calc(50% - 14px);
			@media(--515vp) {
				width: calc(33% - 14px);
			}
			@media(--768vp) {
				width: calc(25% - 14px);
			}
		}
	}
}