/*----------------------------------------------------------------*\
		ICON SLIDERS
\*----------------------------------------------------------------*/

.slider-parent {
	display: block !important;
	& .card {
		margin-bottom: 3vh;
	}
}

.icon-slider {
	width: 100%;
	& .slick-slide {
		padding: 0 8px;
		&:focus {
			outline: none;
		}
	}
	& img {
		max-width: 100%;
		height: auto;
		display: block;
	}
	&.is-random {
		display: flex;
		flex-wrap: wrap;
		& .random-icon {
			width: 100%;
			height: 400px;
			margin: 0 8px;
			position: relative;
			&:nth-child(2),
			&:nth-child(3) {
				display: none;
			}
			@media(--768vp) {
				width: calc(33% - 16px);
				height: 200px;
				&:nth-child(2),
				&:nth-child(3) {
					display: block;
				}
			}
			& .swap {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				width: 100%;
				max-height: 100%;
			}
		}
	}
}