/*----------------------------------------------------------------*\

		PROCESSOR: POSTCSS
			http://postcss.org/
		SYNTAX: CSSNEXT
			http://cssnext.io/
		NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
			http://thesassway.com/advanced/modular-css-naming-conventions
		CSS Style: TABS
			http://www.sublimetext.com/docs/indentation
		CSS BASE: NORMALIZE
			https://necolas.github.io/normalize.css/
		FRAMEWORK: CSS GRID & FLEXBOX
			https://css-tricks.com/snippets/css/complete-guide-grid/
			https://css-tricks.com/snippets/css/a-guide-to-flexbox/

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
		VARIABLES
\*----------------------------------------------------------------*/

:root {
	--SmallWidth: 800px;
	--Width: 1024px;
	--LargeWidth: 1200px;
	--HeaderFont: 'Open Sans Bold', sans-serif;
	--HeadFontBold: 'Open Sans ExtraBold', sans-serif;
	--BodyFont: 'Open Sans', sans-serif;
	--BodyFontBold: 'Open Sans Bold', sans-serif;
	--Primary: #009FF6;
	--Secondary: #FA6C41;
	--Tertiary: #00B399;
	--Positive: #68DD9F;
	--Warning: #FFC77A;
	--Negative: #ff6666;
	--White: #f8f8ff;
	--LightGrey: #F0FBFF;
	--Grey: #C1C1C1;
	--DarkGrey: #9CADBC;
	--Black: #212121;
	--MidnightBlue: #384955;
}

/*----------------------------------------------------------------*\
		MEDIA QUERIES IN CORRECT ORDER
\*----------------------------------------------------------------*/

@custom-media --515vp (min-width: 515px);
@custom-media --768vp (min-width: 768px);
@custom-media --1024vp (min-width: 1024px);
@custom-media --1200vp (min-width: 1200px);
div {
	@media(--515vp) {
		box-sizing: inherit;
	}
	@media(--768vp) {
		box-sizing: inherit;
	}
	@media(--1024vp) {
		box-sizing: inherit;
	}
	@media(--1200vp) {
		box-sizing: inherit;
	}
}

/*----------------------------------------------------------------*\
		UNIVERSAL BOX-SIZING
\*----------------------------------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 16px;
	background: var(--White);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}