/*----------------------------------------------------------------*\
		SECTIONS
\*----------------------------------------------------------------*/

.design-block {
	max-width: var(--Width);
	width: 90%;
	margin: 0 auto;
	&>h2:first-child {
		border-bottom: 1px solid var(--DarkGrey);
		line-height: 2;
		line &+.modifer {
			margin-top: 0;
		}
	}
	&:last-of-type {
		margin-bottom: 40vh;
	}
}

/*----------------------------------------------------------------*\
	MODIFERS
\*----------------------------------------------------------------*/

.modifer {
	margin: 2em 0em;
	padding: 1em 0em;
}

.modifer-header {
	position: relative;
	&>h3 {
		margin: 0;
	}
	&>svg {
		position: absolute;
		right: 0;
		top: 0;
		height: 23px;
		width: 23px;
		cursor: pointer;
	}
}

.modifer-example {
	margin: 1em 0 0 0;
	transition: all .25s linear;
	&.is-active {
		padding: 1em;
	}
	&>.block {
		position: relative;
		min-height: 150px;
		border: 1px solid var(--Black);
	}
}

.modifer-annotation {
	display: flex;
	align-item: flex-start;
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all .35s linear;
	&.is-active {
		border-top: 0;
		height: auto;
		opacity: 1;
	}
	& pre,
	& .modifer-notes {
		width: 100%;
		border-radius: 0;
		margin: 0;
		@media(--1024vp) {
			width: 50%;
		}
	}
}

.modifer-notes {
	padding: 2em;
	background-color: var(--MidnightBlue);
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6,
	& p,
	& a,
	& ul {
		color: var(--Grey);
	}
	& ul {
		list-style: none;
		padding: 0;
		& li {
			padding: 0;
			line-height: 1.5;
		}
	}
	&>*:first-child {
		margin-top: 0;
	}
	&>*:last-child {
		margin-bottom: 0;
	}
}

/*----------------------------------------------------------------*\
	GRIDS VISUAL
\*----------------------------------------------------------------*/

.design-grids .grid-block {
	background-color: var(--Grey);
	min-height: 100px;
}

/*----------------------------------------------------------------*\
	TOOLTIP PARENT ELEMENTS
\*----------------------------------------------------------------*/

.design-block .tooltip-parent {
	padding: 25px 50px;
	background: var(--MidnightBlue);
	display: inline-block;
	color: var(--White);
}

/*----------------------------------------------------------------*\
	CARDS
\*----------------------------------------------------------------*/

.modifer-example>.card {
	max-width: calc(33% - 20px);
}