/*----------------------------------------------------------------*\
		ACCORDIONS
\*----------------------------------------------------------------*/

.accordion {}

/*----------------------------------------------------------------*\
		ACCORDION LABELS
\*----------------------------------------------------------------*/

.accordion-label {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-color: var(--DarkGrey);
	background-color: var(--DarkGrey);
	color: var(--Black);
	&>svg:last-child {
		display: inline-block;
		/* svg styling based on orion lab line icons */
		/* adjust style specific for your icon set */
		vertical-align: text-top;
		height: 2em;
		width: 2em;
		stroke: var(--Black);
		fill: transparent;
	}
	&.is-active svg:last-child {
		transform: rotate(180deg);
	}
}

/*----------------------------------------------------------------*\
		ACCORDION CONTENT
\*----------------------------------------------------------------*/

.accordion-contents {
	overflow: hidden;
	padding: 0 1em;
	height: auto;
	max-height: 0;
	transition: all .35s linear;
	&.is-active {
		padding: 1em;
		max-height: 200px;
	}
}

/*----------------------------------------------------------------*\
		ICON MODIFER
\*----------------------------------------------------------------*/

.accordion {
	&.has-icon {
		& .accordion-label {
			justify-content: inherit;
			&>svg:first-of-type {
				display: inline-block;
				/* svg styling based on orion lab line icons */
				/* adjust style specific for your icon set */
				vertical-align: text-top;
				height: 1.5em;
				width: 1.5em;
				margin-left: 1em;
				stroke: var(--Black);
				fill: transparent;
			}
			&>svg:last-child {
				margin-left: auto;
			}
		}
	}
}