/*----------------------------------------------------------------*\
	CARDS
\*----------------------------------------------------------------*/

.card {
	display: inline-block;
	position: relative;
	overflow: hidden;
	border-radius: 6px;
	border: 1px solid var(--DarkGrey);
	background-color: #fff;
	&>*:first-child {
		margin-top: 1rem;
	}
	&>img:first-child,
	&>.featured-image:first-child {
		margin-top: 0;
	}
	&>*:last-child {
		margin-bottom: 1rem;
	}
	& .is-fluid:last-child {
		margin-bottom: 0;
	}
	& .is-padded {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	& .buttons {
		margin-top: 1.5em;
	}
}

/*----------------------------------------------------------------*\
		FEATURED ICON
\*----------------------------------------------------------------*/

.card {
	& .featured-icon {
		text-align: center;
		& svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-top;
			height: 5em;
			width: 5em;
			margin-left: .25em;
			stroke: var(--DarkGrey);
			fill: transparent;
		}
	}
}

/*----------------------------------------------------------------*\
		FEATURED IMAGE
\*----------------------------------------------------------------*/

.card {
	& img {
		width: 100%;
		height: auto;
		display: block;
		&+* {
			margin-top: 1rem;
		}
	}
	& .featured-image {
		width: 100%;
		display: block;
		position: relative;
		&>.block {
			position: absolute;
			right: 1rem;
			bottom: 1rem;
			left: 1rem;
			z-index: 2;
			&>*:first-child {
				margin-top: 0;
			}
			&>*:last-child {
				margin-bottom: 0;
			}
			&>h2,
			&>h3,
			&>h4,
			&>p {
				color: var(--White);
			}
		}
		&>.chips {
			position: absolute;
			top: 1rem;
			right: 1rem;
			z-index: 2;
		}
		& .chip {
			z-index: 2;
			margin-left: auto;
		}
		&.has-overlay::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: color( var(--Primary) alpha(60%));
		}
		&+* {
			margin-top: 1rem;
		}
	}
}

/*----------------------------------------------------------------*\
		AUTHORSHIP
\*----------------------------------------------------------------*/

.card {
	& .meta {
		display: flex;
		align-items: center;
		& .headshot {
			width: 60px;
			height: 60px;
			margin-right: .75rem;
			overflow: hidden;
			border-radius: 50%;
			background-color: var(--DarkGrey);
			& img {
				width: 100%;
				height: auto;
			}
		}
		& p {
			font-size: .875em;
			color: var(--DarkGrey);
			line-height: 1.3;
		}
	}
}