/*----------------------------------------------------------------*\
	GALLERIES
\*----------------------------------------------------------------*/

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	& .item {
		width: 19%;
		margin-bottom: 10px;
		& img {
			width: 100%;
			height: auto;
		}
	}
}

/*----------------------------------------------------------------*\
	MASONRY GALLERIES 
\*----------------------------------------------------------------*/

.gallery {
	&.is-masonry {
		&::after {
			content: '';
			clear: both;
		}
		& .item,
		& .sizer {
			width: 25%;
			padding: 0 10px;
			margin: 0 0 20px 0;
		}
	}
}