/*----------------------------------------------------------------*\
	MODALS/DIALOGS
\*----------------------------------------------------------------*/

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: color( var(--Black) alpha(60%));
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .35s linear;
	&.is-hidden {
		opacity: 0;
		max-height: 0;
		z-index: -1;
	}
	&>.dialog {
		width: 90%;
		max-width: 800px;
		position: relative;
		/* card style for example purposes */
		background-color: var(--White);
		border-radius: 10px;
		padding: 0 2em;
		&>button.close {
			position: absolute;
			top: -5em;
			right: -5em;
			background-color: transparent;
			border-color: transparent;
			&:hover,
			&:focus {
				background-color: transparent;
				border-color: transparent;
			}
			&>svg {
				display: inline-block;
				/* svg styling based on orion lab line icons */
				/* adjust style specific for your icon set */
				vertical-align: text-top;
				height: 1.5em;
				width: 1.5em;
				stroke: var(--White);
				fill: transparent;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	INLINE MODIFER
\*----------------------------------------------------------------*/

.inline-modal {
	position: relative;
	transition: all .35s linear;
	&+.overlay {
		z-index: -1;
		opacity: 0;
	}
	&>button.close {
		position: absolute;
		top: 0em;
		right: 0em;
		background-color: transparent;
		border-color: transparent;
		overflow: hidden;
		width: 0;
		padding: 0;
		&:hover,
		&:focus {
			background-color: transparent;
			border-color: transparent;
		}
		&>svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-top;
			height: 1.5em;
			width: 1.5em;
			stroke: var(--Black);
			fill: transparent;
		}
	}
	&[data-emergence=visible] {
		padding: 1em;
		background-color: var(--White);
		z-index: 2;
		&>button.close {
			width: auto;
		}
		&+.overlay {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			opacity: 1;
			background: color( var(--Black) alpha(60%));
			transition: all .35s linear;
		}
	}
}