/*----------------------------------------------------------------*\
	SLIDERS
\*----------------------------------------------------------------*/

.glide {}

/*----------------------------------------------------------------*\
	ARROWS
\*----------------------------------------------------------------*/

.glide__arrow {
	&>svg {
		display: inline-block;
		margin: 0 !important;
		/* svg styling based on orion lab line icons */
		/* adjust style specific for your icon set */
		vertical-align: text-top;
		height: 1.5em;
		width: 1.5em;
		margin-left: .25em;
		stroke: var(--White);
		fill: transparent;
	}
}

/*----------------------------------------------------------------*\
	BULLETS
\*----------------------------------------------------------------*/

.glide__bullet {
	width: .875em;
	height: .875em;
}

/*----------------------------------------------------------------*\
	SLIDES
\*----------------------------------------------------------------*/

.glide__slide {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 250px;
	color: #fff;
	box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, .5);
	background-color: var(--DarkGrey);
	& .block>img {
		max-width: 100%;
	}
}

/*----------------------------------------------------------------*\
	ICON SLIDERS
\*----------------------------------------------------------------*/

.icon-glide {
	& .glide__slide {
		background-color: transparent;
		box-shadow: none;
		min-height: 0;
	}
}