/*----------------------------------------------------------------*\
	TABS NAVIGATION
\*----------------------------------------------------------------*/

.tabs {
	overflow: hidden;
	& nav {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			height: 2px;
			background-color: var(--DarkGrey);
		}
		& button {
			margin: 0;
			border-color: var(--DarkGrey);
			color: var(--DarkGrey);
			z-index: 2;
			position: relative;
			&:first-child {
				margin-left: 1em;
			}
			&>svg {
				stroke: var(--DarkGrey);
			}
			&.is-active {
				border-color: var(--DarkGrey);
				border-bottom-color: var(--White);
				background-color: transparent;
				color: var(--Primary);
				&>svg {
					stroke: var(--Primary);
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	TABS CONTENT
\*----------------------------------------------------------------*/

.tabs {
	& .tab-contents {
		position: relative;
		& .tab {
			position: absolute;
			opacity: 0;
			z-index: -1;
			top: 0;
			padding: 1em;
			transition: all .35s linear;
			&.is-active {
				position: relative;
				opacity: 1;
				z-index: 2;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	STACKED MODIFER
\*----------------------------------------------------------------*/

.tabs {
	&.are-stacked {
		display: flex;
		& nav {
			min-width: 150px;
			align-items: flex-start;
			&::after {
				top: 0;
				left: auto;
				bottom: 0;
				right: 0;
				height: 100%;
				width: 2px;
				background-color: var(--DarkGrey);
			}
			& button {
				width: 100%;
				border-bottom-width: 0;
				border-bottom-color: var(--DarkGrey);
				border-right-color: var(--DarkGrey);
				&:first-child {
					margin: 0;
				}
				&:last-child {
					border-bottom-width: 2px;
				}
				&.is-active {
					border-right-color: var(--White);
				}
			}
		}
		& .tab-contents .tab *:first-child {
			margin-top: 0;
		}
	}
}